mybatis:
  config-location: classpath:mybatis/mybatis-config.xml

  type-aliases-package: com.woniu.entity
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ls?serverTimezone=GMT
    username: root
    password: 147258
  redis:
    database: 0
    host: localhost
    port: 6379

  mvc:
    view:
      suffix: .html
      prefix: /html/



